<form [formGroup]="paymentForm" class="border rounded-2xl bg-slate-50 bg-slate-50 p-4 flex flex-col" (ngSubmit)="next()">
  <label class="text-lg font-semibold">{{'step3Title' | translate}}</label>

  <label class="text-sm font-medium mt-2" for="cardName">{{'step3CardName' | translate}}</label>
  <input type="text" class="bg-slate-50 bg-slate-50" formControlName="cardName" placeholder="{{'step3CardNamePlaceholder' | translate}}" (change)="setValidity()" id="cardName"/>
  <small class="text-red-600" *ngIf="paymentForm.get('cardName')?.touched && paymentForm.get('cardName')?.invalid">{{'step3InvalidCardName' | translate}}</small>

  <label class="text-sm font-medium mt-2" for="cardNumber">{{'step3CardNumber' | translate}}</label>
  <input type="text" class="bg-slate-50 bg-slate-50" formControlName="cardNumber" placeholder="{{'step3CardNumberPlaceholder' | translate}}" maxlength="16" (change)="setValidity()"/>
  <small class="text-red-600" *ngIf="paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid">{{'step3InvalidCardNumber' | translate}}</small>
  @if(!isDetail){
  <div class="flex gap-2 p-4">
    <button class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded-2xl transition-colors py-2 px-4"
      (click)="back()">{{'step3Back' | translate}}</button>
    <button type="submit" class="mt-auto bg-blue-600 hover:bg-blue-700 text-white rounded-2xl transition-colors py-2 px-4"
      [ngClass]="{'bg-gray-400 cursor-not-allowed':paymentForm.invalid}" [disabled]="paymentForm.invalid">{{'step3Next' | translate}}</button>
  </div>
  }
</form>